<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" >
        <title>Form</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    </head>
    <body>
        <div class="container">
            <h1>Share Bazaar</h1>
            <a href="http://localhost:8000/">Home</a> <br><br>
            <form action="/success/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit"/>
              </form>
        </div>

    </body>
</html>