<!DOCTYPE html>
{% extends "first_app/base.html" %}
    {% block body_block %}
    {% load staticfiles %}
        <div class="container">
            {% if topic %}
            <table>
                <thead>
                    <th>Company Name</th>
                    <th>Date Bought</th>
                    <th>Share Price</th>
                    <th>Shares Bought</th>
                </thead>

                {% for acc in topic %}
                <tr>
                    <td>{{ acc.company_name}}</td>
                    <td>{{ acc.date_bought }}</td>
                    <td>{{ acc.share_price }}</td>
                    <td>{{ acc.shares_bought }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No Records Found!</p>
            {% endif %}
        </div>
    {% endblock %}